# Arquivos de ambiente com credenciais
.env

# Arquivos de configuração com chaves privadas
# hyperlane/validator.*.json
# hyperlane/relayer*.json
# hyperlane/relayer-mainnet.json
# hyperlane/relayer-testnet.json

# Dados dos agentes
validator/
relayer/
validator-testnet/
relayer-testnet/

# Logs
*.log

# Docker
docker-compose.override.yml

solana-keypair.json
