version: "3.9"

services:
  relayer:
    image: gcr.io/abacus-labs-dev/hyperlane-agent:1.7.0
    restart: unless-stopped

    entrypoint:
      - /usr/local/bin/hyperlane-agent

    command:
      - relayer
      - --db
      - /data
      - --config
      - /etc/hyperlane/relayer.testnet.json
      - --allowLocalCheckpointSyncers
      - "false"
      - --metrics
      - 0.0.0.0:9090
      - --api
      - 0.0.0.0:9090

    environment:
      - RUST_LOG=info,hyperlane=debug,relayer=debug,hyperlane_cosmos=debug
      - HYP_BASE_TRACING_LEVEL=debug

    ports:
      - 9112:9090

    volumes:
      - ./hyperlane:/etc/hyperlane
      - relayer-data:/data


  validator-terraclassic:
    image: gcr.io/abacus-labs-dev/hyperlane-agent:1.7.0
    restart: unless-stopped

    entrypoint:
      - /usr/local/bin/hyperlane-agent

    command:
      - validator
      - --db
      - /data
      - --config
      - /etc/hyperlane/validator.terraclassic-testnet.json
      - --metrics
      - 0.0.0.0:9090

    environment:
      - RUST_LOG=debug,hyperlane=debug,validator=debug,hyperlane_cosmos=debug
      - HYP_BASE_TRACING_LEVEL=debug

    ports:
      - 9122:9090

    volumes:
      - ./hyperlane:/etc/hyperlane
      - validator-data:/data


volumes:
  relayer-data:
  validator-data:
