{
 
  "relayChains": "terraclassic,bsc,solana",
  "allowLocalCheckpointSyncers": "false",
  "gasPaymentEnforcement": [{ "type": "none" }],
  
  "whitelist": [
    {
      "originDomain": [13251],
      "destinationDomain": [56]
    },
    {
      "originDomain": [56],
      "destinationDomain": [13251]
    }
  ],
  
}
